body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
}

img{
    width: 200px;
}

p{
    font-weight: 600;
    margin-bottom: 5px;
    color: green;
}

button{
    background-color: black;
    color: white;
    border: 3px solid orange;
    margin-top: 10px;
    padding: 10px 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}